.stb-component-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
    width: 100%; }
    .stb-component-list.hidden {
        display: none; }
    .stb-component-list > .item {
        cursor: pointer;
        padding: 0 8px;
        vertical-align: middle;
        height: 48px;
        line-height: 48px; }
        .stb-component-list > .item.mark {
            background-color: green;
            color: black; }
        .stb-component-list > .item.focus {
            background-color: orange;
            color: black; }
        .stb-component-list > .item.focus.mark {
            background-color: #ae7200;
            color: white; }
    .stb-component-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .stb-component-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }

.mag-component-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
    width: 100%; }
    .mag-component-list.hidden {
        display: none; }
    .mag-component-list > .item {
        cursor: pointer;
        padding: 0 8px;
        vertical-align: middle;
        height: 48px;
        line-height: 48px; }
        .mag-component-list > .item.mark {
            background-color: green;
            color: black; }
        .mag-component-list > .item.focus {
            background-color: orange;
            color: black; }
        .mag-component-list > .item.focus.mark {
            background-color: #ae7200;
            color: white; }
    .mag-component-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .mag-component-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }

.mag-component-layout {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: table;
    width: 100%; }
    .mag-component-layout.hidden {
        display: none; }
    .mag-component-layout > div {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        height: 100%; }

.mag-component-layout-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative; }
    .mag-component-layout-list.hidden {
        display: none; }
    .mag-component-layout-list > .body > .item > .mag-component-layout > .icon {
        width: 56px;
        font-family: 'icons';
        text-align: center; }
        .mag-component-layout-list > .body > .item > .mag-component-layout > .icon.yellow {
            color: #FEC500; }
        .mag-component-layout-list > .body > .item > .mag-component-layout > .icon.red {
            color: #FF0000; }
        .mag-component-layout-list > .body > .item > .mag-component-layout > .icon.green {
            color: #04E900; }
        .mag-component-layout-list > .body > .item > .mag-component-layout > .icon.blue {
            color: #1CACFF; }
    .mag-component-layout-list > .body > .item > .mag-component-layout > .number {
        width: 56px; }
    .mag-component-layout-list .noData {
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        .mag-component-layout-list .noData:before {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            content: ""; }
        .mag-component-layout-list .noData > div {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            text-align: center; }
        .mag-component-layout-list .noData.hidden {
            visibility: hidden; }
