.mag-component-footer {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative; }
    .mag-component-footer.hidden {
        display: none; }
    .mag-component-footer > .body > .item > .mag-component-layout > .icon {
        width: 56px;
        font-family: 'icons';
        text-align: center; }
        .mag-component-footer > .body > .item > .mag-component-layout > .icon.yellow {
            color: #FEC500; }
        .mag-component-footer > .body > .item > .mag-component-layout > .icon.red {
            color: #FF0000; }
        .mag-component-footer > .body > .item > .mag-component-layout > .icon.green {
            color: #04E900; }
        .mag-component-footer > .body > .item > .mag-component-layout > .icon.blue {
            color: #1CACFF; }
    .mag-component-footer > .body > .item > .mag-component-layout > .number {
        width: 56px; }
    .mag-component-footer .noData {
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        .mag-component-footer .noData:before {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            content: ""; }
        .mag-component-footer .noData > div {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            text-align: center; }
        .mag-component-footer .noData.hidden {
            visibility: hidden; }
